<!DOCTYPE html>
<html lang="en">
<%- include( 'includes/head.ejs', { pageTitle: pageTitle } ) %> 
<body>
    <%- include( 'includes/header_nav.ejs', { url: url } ) %> 
    <main>
        <h1>HOME PAGE</h1>
        <form action="/users" method="POST" class="subscribe__form">
        <header>
            <h1>Registration</h1>
        </header>
        <div>
            <input type="text" name="firstname" placeholder="First Name">
            <input type="text" name="lastname" placeholder="Last Name">
            <input type="email" name="email" placeholder="Email">
            <button type="submit">Subscribe</button>
        </div>
        </form>
    </main>
</body>
</html>