<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Shop - PAGE NOT FOUND</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/products">SHOP</a></li>
                <li class="main-header__item""><a href="admin/add-product">ADD PRODUCT</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Internal Server Error.</h1>  
        <a href="/">Volar</a>       
    </main>
</body>
</html>