<header>
    <nav class="header__nav">
        <ul class="header__nav__list">
            <li class="header__nav__listitem"><a href="/" <% if( path =='/' ){ %>class="active"<% } %>>home</a></li>
            <li class="header__nav__listitem"><a href="/products" <% if( path =='/products' ){ %>class="active"<% } %>>products</a></li>
        </ul>
    </nav>
</header>