<article class="card">
    <header class="card__header">
        <h1 class="card__title">
            <%= product.name %>
        </h1>
    </header>
    <img class="card__photo" src="/media/placeholder.jpg" alt="Product Photo">
    <span class="card__price">
        <%= product.price %>
    </span>
    <p class="card__description">
        <%= product.description %>
    </p>
    <button class="card__action">add to cart</button>
</article>