<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS-The Complete Guide: Task 3 - Home</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
        <nav class="header_nav">
            <ul class="header_nav__list">
                <li class="header_nav__list_item"><a href="">Home</a></li>
                <li class="header_nav__list_item"><a href="users">Users</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Home Page</h1>
    </main>    
</body>
</html>