.grid{
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-flow: row wrap;
    width: 100%;  
}

.card{
    display: flex;    
    flex-direction: column;
    flex-basis: 28%;    
    margin: 1rem;
    background: var( --light );    
    border-radius: 8pt;
    box-shadow: 1pt 1pt 4pt 0pt rgba(0,0,0, 0.3);
}

.card__header{
    font-size: large;
    font-weight: lighter;
    padding: 1rem;   
}

.card__photo{
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 1rem;
}
.card__price{
    font-weight: bolder;
    font-size: larger;
    padding-bottom: 1rem;
}

.card__description{
    font-size: smaller;
    color: var( --dark );
    padding-bottom: 1rem;
}
.card__action{
    cursor: pointer;
    padding: 0.5rem;
    margin: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    background: var( --midtone );
    color: var( --darktext );
    border: var( --dark ) solid 1pt;
    border-radius: 4pt;
}