<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/styles/main.css">
    <% if( url === '/shop'){ %>
        <link rel="stylesheet" href="/styles/shop.css">
    <% }else if(url === '/add-product' ){ %>
        <link rel="stylesheet" href="/styles/product-form.css">
    <% } %>
</head>
