<!DOCTYPE html>
<html lang="en">
<%- include( 'includes/head.ejs' ) %>

    <body>
        <%- include( 'includes/header_nav.ejs' ) %>
        <main>            
            <form class="product__form" action="/add-product" method="post">
                <header class="product__form__header"><h1>Add a new Product</h1></header>
                <div class="product__form__body">
                    <input type="text" id="Title" name="title" placeholder="product title">
                    <input type="number" step=".01" id="Price" name="price" placeholder="price">
                    <input type="text" id="Description" name="description" placeholder="description">
                    <button type="submit">Add</button>
                </div>
            </form>
        </main>
    </body>

</html>