<!DOCTYPE html>
<html lang="en">
<%- include( 'includes/head.ejs', { url: url }) %> 
<body>
    <%- include( 'includes/header_nav.ejs' ) %> 
    <main>
        <div class="grid">
        <% if( products.length > 0 ){ %>
            <% for( product of products ){ %>
                <%- include( 'includes/product-card.ejs', { product: product }) %>
            <% } %> 
        <% } else { %>
            <h1> No product found!</h1>
        <% } %>
        </div>
    </main>
</body>    
</html>