extends layouts/main-layout
block styles
    link(rel="stylesheet", href="/styles/product-form.css")
block content-main    
    form(action="/add-product", method="POST" ).product__form
        header.product__form__header
            h1 Product Registration Form
        .form__body
            .form_row
                label(for="Title") Title:
                input(type="text", id="Title", name="title")
            .form_row
                label(for="Price") Price:
                input(type="number", step=".01", id="Price", name="price")
            .form_row_vertical
                label(for="Description") Description
                textarea(name="description", id="Description", cols="30", rows="10")
            .form_row
                button( type="submit" ) Save
        