<!DOCTYPE html>
<html lang="en">
<%- include( 'includes/head.ejs', { path: path }) %>
<body>
    <%- include( 'includes/navigation.ejs', { path: path }) %>
    <main>
        <h1>PAGE NOT FOUND.</h1>
    </main>
</body>
</html>