<header>
    <nav class="header__nav">
        <ul class="header__nav__list">
            <li class="header__nav__logo">MyShop</li>
            <li class="header__nav__listitem"><a href="/">Home</a></li>
            <li class="header__nav__listitem"><a href="/shop">Shop</a></li>
            <li class="header__nav__listitem"><a href="/add-product">Add Product</a></li>
        </ul>
    </nav>
</header>